{% extends 'techcampBundle::layout.html.twig' %}

{% block nav %}
	<div class="clear"></div>
		<nav class="horizontal-nav full-width horizontalNav-notprocessed">
			<ul class="sf-menu">
				<li><a href={{path('homepage')}}>Home</a></li>
				<li><a href={{path('techcamp_default_application')}}>Application</a></li>
				<li><a href={{path('techcamp_default_faq')}}>FAQS</a></li>
				<li><a href={{path('techcamp_default_contactus')}}>Contact Us</a></li>
			{% if is_granted("ROLE_SUPER_ADMIN") %}
				<li class="current"><a href={{path('techcamp_default_admin')}}>Admin</a></li>					
			{% endif %}
			</ul>
		</nav>
	<div class="clear"></div>
{% endblock %}

{% block body %}

{% if is_granted("ROLE_SUPER_ADMIN") %}
<div>
	<nav class="horizontal-nav full-width horizontalNav-notprocessed">
		<ul class="sf-menu">
			<li><a href="admin_camp_display">Camps</a></li>
			<li><a href="adminUnreviewed">Unreviewed Campers</a></li>
			<li><a href={{path('techcamp_default_adminenrolled')}}>Submitted Applications</a></li>
		</ul>
	</nav>

    
    
    
</div>
{% else %}

{% endif %}


{% endblock %}