{% extends 'base.html.twig' %}

{% block body %}
    <h1>Application edit</h1>
    
    <ul>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

		
		
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    	<li><a href={{path('techcamp_default_adminenrolled')}}>Return to Admin Portal</a></li>
    {% endif %}
{% endblock %}
